#about-content {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.about-answers {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
