#content-div {
  display: flex;
  flex-direction: column;

  /* max-width: 900px; */
  align-items: center;
}

#graph {
  width: 1000px;
  margin-left: 205px;
}

#picture-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.picture {
  margin: 20px;
  width: 120px;
}

#style-dropdown {
  text-align: center;
  width: 300px;
}

.modebar {
  display: none !important;
}

#tutorial-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
