.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.logo-div {
  margin-left: 100px;
}

.title {
  font-size: 32px;

  text-decoration: none;
  color: black;
}

.title:hover {
  transition: 0.2s;
  color: gray;
}

.subtitle {
  color: gray;
}

.about,
.game {
  margin-right: 100px;
  margin-left: 100px;
  text-decoration: none;
  color: black;
}

.about:hover,
.game:hover {
  transition: 0.2s;
  color: gray;
}
