#header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

#logo-div {
  margin-left: 100px;
}

#subtitle {
  color: gray;
}

#about {
  margin-right: 100px;
  text-decoration: none;
  color: black;
}

#about:hover {
  transition: 0.2s;
  color: gray;
}
